.banner {
	background-color: #EEEEEE;
	padding: 2em 0;
}

.cta {
	margin-top: 5em;
	&__titulo {
		@include font-size(48);
		@include line-height(60);
		font-weight: 900;
		margin-bottom: .5em;
	}

	&__texto {
		@include font-size(20);
		@include line-height(25);
	}

	&__precio {
		margin: 1em 0;
	}
}
