doctype html
head
	meta(charset="utf-8")
	title bwood - Cerebro y Madera
	link(rel="stylesheet", href="css/main.css")
body
	include templates/header
	h1 bwood - cerebro y madera
	include templates/footer
