doctype html
head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	title bwood - Cerebro y Madera
	include templates/head
body
	include templates/header
	section.banner
		.container
			.row
				.col-4
					article.cta
						h1.cta__titulo.g-title Laptop Stand
						p.cta__texto.g-text Soporte modular, fabricado en madera aglutinada MDF y diseño personalizado en laser con las distintas especialidades del mercado digital.
						p.cta__precio.g-highlighted $14.790
							span.cta__adicionales * Llavero de regalo
							span.cta__adicionales * Despacho GRATIS dentro de Santiago (RM)
						a.cta__boton.g-boton(href="javascript:;") lo quiero

				.col-7.offset-1
					figure.banner__img
						img(src="./img/macBook-perfil.png", alt="Foto del soporte presentado sobre un notebook")
section.historia
	.container
		.row.align-items-center
			.col-2
				figure.logotipo
					img(src="./img/logotipo-blanco.png", alt="Logotipo swood blanco")
			.col-4.offset-1
				p.g-text swood es parte de elefantes y es el resultado tangible, despues de largas converzaciones entre amigos. Nos encanta diseñar , crear, construir e innovar sobre productos ya existentes en el mercado y trabajar con  madera, ha hecho de esta un agente importante en nuestro trabajo diario, es en este punto donde nuestra idea de crear swood toma fuerza y se concreta como tal a fines del año 2017.
			.col-4.offset-1.align-self-start
				p.g-text Nuestro objetivo es dar un valor agregado a cada uno de nuestros diseños,  bajar los costos excesivos de la competencia y mejorar el valor que pagara cliente por por el producto final. Queremos  que cada uno de estos cumpla con las espectativas del usuario y solucionen aquella necesidad por la cual son adquiridos.

article.acceso
	.container-fluid
		.row.align-items-center.no-gutters
			.col-5
				figure.acceso__foto
					img(src="./img/soporte-01.jpg", alt="Fotografia planta Laptop stand")
			.col-5.offset-1
				.acceso__detalle
					h2.acceso__titulo.g-title Como nace la idea ?
					p.acceso__text.g-text Todo parte a fines del año 2017, donde por necesidad intentamos conseguir un soporte de similares caracteristicas y diseño para nuestros equipos,  en Chile no encontramos nada que cumpliera con ello y traer uno desde el extranjero aumentaba significativamente su valor.
					p.acceso__text.g-text Como equipo Intentamos replicar el diseño en cartón, plastico y madera de diferentes tipos, hasta que llegamos al resultado que ustedes ven hoy, el cual cumple con todo lo necesario para satisfacer aquella necesidad.
					a.acceso__boton.g-boton(href="javascript:;") lo quiero
					
article.acceso
	.container-fluid
		.row.align-items-center.no-gutters
			.col-5.offset-1
				.acceso__detalle
					h2.acceso__titulo.g-title Qué ofrecemos ?
					p.acceso__text.g-text Todo parte a fines del año 2017, donde por necesidad intentamos conseguir un soporte de similares caracteristicas y diseño para nuestros equipos,  en Chile no encontramos nada que cumpliera con ello y traer uno desde el extranjero aumentaba significativamente su valor.
					a.acceso__boton.g-boton(href="javascript:;") lo quiero
			.col-5.offset-1
				figure.acceso__foto
					img(src="./img/soporte-02.jpg", alt="Fotografia planta Laptop stand")
						
						
article.acceso
	.container-fluid
		.row.align-items-center.no-gutters
			.col-5
				figure.acceso__foto
					img(src="./img/soporte-03.jpg", alt="Fotografia planta Laptop stand")
			.col-5.offset-1
				.acceso__detalle
					h2.acceso__titulo.g-title Como nace la idea ?
					p.acceso__text.g-text Todo parte a fines del año 2017, donde por necesidad intentamos conseguir un soporte de similares caracteristicas y diseño para nuestros equipos,  en Chile no encontramos nada que cumpliera con ello y traer uno desde el extranjero aumentaba significativamente su valor.
					p.acceso__text.g-text Como equipo Intentamos replicar el diseño en cartón, plastico y madera de diferentes tipos, hasta que llegamos al resultado que ustedes ven hoy, el cual cumple con todo lo necesario para satisfacer aquella necesidad.
					a.acceso__boton.g-boton(href="javascript:;") lo quiero
					
					
article.acceso
	.container-fluid
		.row.align-items-center.no-gutters
			.col-5.offset-1
				.acceso__detalle
					h2.acceso__titulo.g-title Como nace la idea ?
					p.acceso__text.g-text Todo parte a fines del año 2017, donde por necesidad intentamos conseguir un soporte de similares caracteristicas y diseño para nuestros equipos,  en Chile no encontramos nada que cumpliera con ello y traer uno desde el extranjero aumentaba significativamente su valor.
					p.acceso__text.g-text Como equipo Intentamos replicar el diseño en cartón, plastico y madera de diferentes tipos, hasta que llegamos al resultado que ustedes ven hoy, el cual cumple con todo lo necesario para satisfacer aquella necesidad.
					a.acceso__boton.g-boton(href="javascript:;") lo quiero
			.col-5.offset-1
				figure.acceso__foto
					img(src="./img/soporte-04.jpg", alt="Fotografia planta Laptop stand")
						
						
article.acceso
	.container-fluid
		.row.align-items-center.no-gutters
			.col-5
				figure.acceso__foto
					img(src="./img/soporte-05.jpg", alt="Fotografia planta Laptop stand")
			.col-5.offset-1
				.acceso__detalle
					h2.acceso__titulo.g-title Como nace la idea ?
					p.acceso__text.g-text Todo parte a fines del año 2017, donde por necesidad intentamos conseguir un soporte de similares caracteristicas y diseño para nuestros equipos,  en Chile no encontramos nada que cumpliera con ello y traer uno desde el extranjero aumentaba significativamente su valor.
					p.acceso__text.g-text Como equipo Intentamos replicar el diseño en cartón, plastico y madera de diferentes tipos, hasta que llegamos al resultado que ustedes ven hoy, el cual cumple con todo lo necesario para satisfacer aquella necesidad.
					a.acceso__boton.g-boton(href="javascript:;") lo quiero
					

section.features
	.container
		.row
			.col-12
				h2.g-title Características y beneficios
				p.g-text Laptop stand, no solo es un soporte de buen diseño y bajo costo, también posee otras cualidades que potencian su uso y pertenencia.
			.col-3
				.feature
					span.feature__icon.icon-amigo
					h3.feature__title Gran amigo
					p.feature__text Evita que tu equipo se caliente más de lo necesario y  protege a este de liquidos que se puedan derramar sobre tu escritorio o zona de trabjo.
				.feature
					span.feature__icon.icon-doctor
					h3.feature__title Doctor
					p.feature__text Eleva tu monitor a una altura sificiente para mejora tu postura mientras trabajas, lo cual ayuda a evitar dolores de cuello y columna, durante tu jornada de trabajo. 
			.col-6
				figure.feature-laptop
					img(src="./img/soporte-06.png", alt="Imagen del soporte donde se ven todos los textos")
			.col-3
				.feature.feature--left
					span.feature__icon.icon-estilo
					h3.feature__title Estilo
					p.feature__text Diseño minimalista, de buen gusto y material resistente, fácil de armar y transportar, lo cual permite que puedas disponer de el en todo momento.
				.feature.feature--left
					span.feature__icon.icon-valor
					h3.feature__title Bajo costo
					p.feature__text Es un gran producto a un buen precio, nuestro objetivo como swood se cumple cada vez que vemos clientes felices. 
					


article.acceso.acceso--precio
	.container-fluid
		.row.align-items-center.no-gutters
			.col-6
				.acceso__foto
			.col-5
				.acceso__detalle
					h2.acceso__titulo.g-title Laptop Stand
					p.acceso__text.g-text El producto enviado incluye:  soporte swood de 2 piezas de madera aglutinada MDF  5mm , una de las piezas va grabada en laser, según requerimiento del usuario ( no es obligación ) +  llavero de madera MDF 3mm , personalizado con el mismo diseño del soporte.
					p.cta__precio.g-highlighted $14.790
						span.cta__adicionales * iva incluido
						span.cta__adicionales * Despacho GRATIS dentro de Santiago (RM)
						span.cta__adicionales * Despacho a regiones, se hace por pagar
						span.cta__adicionales * Llavero de regalo
					a.acceso__boton.g-boton(href="javascript:;") lo quiero
					
					
				
			
.container
	.row.no-gutters
		.col-2
			p.texto texto  de mi columa
		.col-4
			p.texto texto  de mi columa
		.col-5.offset-1
			p.texto texto  de mi columa
.container
	.row.no-gutters
		.col-sm-2
			p.texto texto  de mi columa
		.col-sm-4
			p.texto texto  de mi columa
		.col-sm-6
			p.texto texto  de mi columa
	include templates/footer
