doctype html
head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	title bwood - Cerebro y Madera
	include templates/head
body
	include templates/header
	section.banner
		.container
			.row
				.col-5
					article.cta
						h1.cta__titulo Laptop Stand
						p.cta__texto Soporte modular, fabricado en madera aglutinada MDF y dise単o personalizado en laser con las distintas especialidades del mercado digital.
						p.cta__precio $14.790
							span.cta__adicionales * Llavero de regalo
							span.cta__adicionales * Despacho GRATIS dentro de Santiago (RM)
						a.cta__boton(href="javascript:;", target="_blank") lo quiero

				.col-6.offset-1
					figure.banner__img
						img(src="./img/macBook-perfil.png", alt="Foto del soporte presentado sobre un notebook")
section.historia
	.container
		.row
			.col-2
				figure.logotipo
					img(src="./img/logotipo-blanco.png", alt="Logotipo swood blanco")
			.col-4.offset-1
				p.u-parrafos swood es parte de elefantes y es el resultado tangible, despues de largas converzaciones entre amigos. Nos encanta dise単ar , crear, construir e innovar sobre productos ya existentes en el mercado y trabajar con  madera, ha hecho de esta un agente importante en nuestro trabajo diario, es en este punto donde nuestra idea de crear swood toma fuerza y se concreta como tal a fines del a単o 2017.
			.col-4.offset-1
				p.u-parrafos Nuestro objetivo es dar un valor agregado a cada uno de nuestros dise単os,  bajar los costos excesivos de la competencia y mejorar el valor que pagara cliente por por el producto final. Queremos  que cada uno de estos cumpla con las espectativas del usuario y solucionen aquella necesidad por la cual son adquiridos.
.container
	.row.no-gutters
		.col-2
			p.texto texto  de mi columa
		.col-4
			p.texto texto  de mi columa
		.col-5.offset-1
			p.texto texto  de mi columa
.container
	.row.no-gutters
		.col-sm-2
			p.texto texto  de mi columa
		.col-sm-4
			p.texto texto  de mi columa
		.col-sm-6
			p.texto texto  de mi columa
	include templates/footer
